aside{
    padding: 10px;
    width: 10%;
    border-right: 2px solid #000;
    ul{
    list-style: none;
    
        li{
        border-bottom: 2px #000 solid;
        }
    }
}
aside ul li:hover{
    background-color: #a53232;
    transform: scale(1.1,1.1)
}