header{
    width: 100%;
    padding: 20px 40px;
    border-bottom: 2px solid #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: linear-gradient(109.6deg, #a53232 11.2%, #000000 91.1%);

}
header img{
    width: 150px;
    height: 100px;
}